<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :product %><br>
    <%= f.text_area :product %>
  </div>

  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.collection_select :client_id, @clients, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :comprado %><br>
    <%= f.check_box :comprado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
