<p id="notice"><%= notice %></p>

<h1>Listing Lists</h1>
<%= link_to 'Clientes', clients_path %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Product</th>
      <th>Comprado</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= list.product %></td>
        <td><%= list.comprado %></td>
        <td><%= list.client.name %></td>
        <td><%= link_to 'Show', list, class:'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_list_path(list), class:'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path %>
