<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Product:</strong>
  <%= @list.product %>
</p>

<p>
  <strong>Comprado:</strong>
  <%= @list.comprado %>
</p>

<p>
  <strong>Client:</strong>
  <%= @list.client.name %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
