<p id="notice"><%= notice  %></p>

<h1>Listing Clients</h1>
<%= link_to 'Listas', lists_path %>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cpf</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.cpf %></td>
        <td><%= link_to 'Show', client, class:'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_client_path(client), class:'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
