<!DOCTYPE html>
<html>
<head>
  <title>Lista de Compras</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-primary">
    <a class="navbar-brand" href="#">Lista de Compras</a>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <%= link_to 'Clientes', clients_path, class: 'nav-item nav-link' %>
        <%= link_to 'Lista', lists_path, class: 'nav-item nav-link' %>

      </div>
    </div>
  </nav>

  <main class="container" role="main">
    <%= yield %>
  </main>

</body>
</html>
